<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="./assets/logoadvocacia.png" alt="Logo" />
      </div>

      <div class="footer-contact">
        <p>(62) 99336-2685 </p>
      </div>

      <div class="footer-social">
        <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://api.whatsapp.com/message/IHLMPRSAEDXAD1?autoload=1&app_absent=0" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Kassya Ribeiro. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
