.faq-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #660000;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.faq-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #d2c661;
  padding-bottom: 10px;

  .faq-question {
    display: flex;
    justify-content: space-between;

    cursor: pointer;

    h3 {
      margin: 0;
      font-size: 15px;
    }

    span {
      font-size: 20px;
    }
  }

  .faq-answer {
    padding: 10px 0;
    font-size: 16px;
  }
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .faq-container {
    padding: 10px;
  }

  .faq-question h3 {
    font-size: 16px;
  }

  .faq-answer {
    font-size: 14px;
  }
}
