<div class="atendimento-container">
  <div class="content">
    <div class="text">
      <h2 class="title"> Atendimento Jurídico em Todo o País </h2>
      <p class="description">Oferecemos atendimento online para clientes em todo o Brasil.</p>
      <p class="description">Nossa equipe está pronta para fornecer suporte e assistência em suas necessidades legais, onde quer que você esteja.</p>
    </div>
    <div class="image">
      <img src="assets/brazil.png" alt="Mapa do Brasil">
    </div>
  </div>
</div>
