.cta-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px;
  flex-wrap: wrap;
}

.cta-container h3 {
  color: #660000;
  font-size: 18px;
  margin: 0;
  margin-left: 200px;
}

.cta-button {
  background-color: #660000;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 0;
  margin-right: 350px;
}

.cta-button:hover {
  background-color: #29a029;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .cta-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cta-container p {
    margin: 10px 0;
    font-size: 18px;
  }

  .cta-button {
    margin: 10px 0;
    padding: 10px 20px;
  }
}
