.specialties-container {
  text-align: center;
  background-color: #660000;
  padding: 30px;
}

.title {
  margin-bottom: 30px; /* Adiciona um espaço entre o título e os cards */
  font-size: 20px;
  color: #f4e98c;
  text-align: center;
  justify-content: center;
  
}

.specialties-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.specialty {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto; /* Evita que os itens encolham e define largura fixa */
  width: 250px; /* Defina a largura desejada para cada card */
  margin: 10px 0; /* Remove margem lateral para evitar espaços extras */
  padding: 20px;
  box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f4e98c;
  transition: all 0.5s ease;
}

.specialty:hover {
  transform: scale(1.05);
  z-index: 1;
}

.specialty-image {
  width: 50%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.specialty-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: black;
}

.specialty-description {
  font-size: 14px;
  font-weight: 400;
  color: black;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .specialties-container {
    flex-direction: column;
    align-items: center;
  }

  .specialty {
    width: 70%; /* Ocupa toda a largura da tela em dispositivos móveis */
  }
}
