<header class="app-header">
  <div class="header-content">
    <div class="header-social">
      <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://wa.me/5562993362685" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
    <img src="./assets/logoadvocacia.png" alt="Logo" width="250" height="50"/>
    <div class="header-contact">
      <i class="fas fa-phone"></i>
      <p>(62) 99336-2685</p>
    </div>
  </div>
</header>
